# Keep XCode build files out.
*/build/*

# Root files are big.
*.root

# Columbia and Demat exercise files.

# Keep PyCharm away.
.idea
*.pyc

*.xml
*.class.C
*ipynb_checkpoints*

calibration/gridsearch/*.txt